百度以及商汤没有提供验证页面，前端页面需实现上传拍照功能以及上传视频功能。
1.上传视频功能中，对于场景判断实现难度较大：下达点头、眨眼、张嘴、摇头等指令，要求用户完成相应动作的交互动作模式，完成活体检测和用户人脸的采集，对用户人脸是否出现视频中以及是否完成相应交互动作模式等场景判断，技术上实现较为困难。

2.前端页面通过navigator.mediaDevices.getUserMedia方法实现录制音视频，该方法存在兼容性问题。